*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,Helvetica,sans-serif;
}

html,
body,
#root{
  width:100%;
  height:100%;
  overflow:hidden;
}

body{
  background:#0f172a;
  color:white;
}

.layout{
  display:flex;
  width:100vw;
  height:100vh;
}

.sidebar{
  width:250px;
  background:#111827;
  padding:25px;
  border-right:1px solid #1f2937;
}

.sidebar h2{
  margin-bottom:30px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  padding:15px 0;
  cursor:pointer;
}

.sidebar li:hover{
  color:#38bdf8;
}

.content{
  flex:1;
  padding:20px;
  overflow:hidden;
}

.content h1{
  margin-bottom:20px;
}